atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
cssselect==1.0.3
cssutils==1.0.2
decorator==4.3.0
Flask==1.0.2
gunicorn==19.8.1
idna==2.7
itsdangerous==0.24
jenkins-webapi==0.5.6
Jinja2==2.10
lxml==4.2.1
mailer==0.8.1
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.2.0
multi-key-dict==2.0.3
pbr==4.0.4
pluggy==0.6.0
premailer==3.2.0
py==1.5.3
Pygments==2.2.0
pytest==3.6.1
pytest-mock==1.10.0
python-dotenv==0.8.2
python-jenkins==1.0.2
PyYAML==3.12
requests==2.19.1
requests-mock==1.5.0
six==1.11.0
stashy==0.5
urllib3==1.23
Werkzeug==0.14.1
